.loader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    color: white;

        .solar-1 {
            width: 10%;
            top: 60%;
            position: absolute;
            margin:1rem 0;
            filter: invert(1);
            -webkit-animation: mymove 5s linear infinite both;
            animation: mymove 5s linear infinite both;
        }
        .solar-2 {
            width: 20%;
            top: 45%;
            position: absolute;
            margin:1rem 0;
            filter: invert(1);
            -webkit-animation: mymove1 1s linear infinite both;
            animation: mymove1 1s linear infinite both;
        }
         .solar-3 {
            width: 35%;
            top: 23%;
            position: absolute;
            margin:1rem 0;
            filter: invert(1);
            -webkit-animation: mymove 20s linear infinite both;
            animation: mymove 20s linear infinite both;
        }
    }

    @keyframes mymove {
        0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(-360deg);
                    transform: rotate(-360deg);
        }
    }
    @keyframes mymove1 {
        0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }