* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-app {
    height: 100vh;

}

.container {
    width: 70%;
    margin: 0 auto;
}

.black {
    background-color:rgb(0, 0, 0) ;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}